@charset "UTF-8";

.icon {
    padding-right: 1rem;
}

.bg-download {
    color: #fff;
    background-color: #112923 !important;
}

.bg-reset {
    background-color: #cfe0d6;
}

.bg-submit {
    color: #fff;
    background-color: #2b5e50;
}

/* content start */
.content {
    width: 100%;
    transition: all 0.3s;
}

.content h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content h3.ct {
    /* company title */
    color: #2b5e50;
}

.content .btn-group {
    margin-top: 2.75rem;
}
/* content end */

/* table start */
.table-responsive {
    margin-bottom: 1.25rem;
}

.table-top-border-none th {
    border-top: none;
}

.table thead th {
    border-bottom-width: 3px;
}
/* table end */

/* title start */
.subtitle {
    font-size: .5rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3.3125rem;
    border-bottom: 1px solid #d0cfd0;
    text-transform:capitalize;
}
/* title end */

/* question start */
.date {
    margin-bottom: 2.75rem;
}

.pagelink,
.pagelink:hover {
    color: #2b5e50;
}

.solutionWrapper {
    position: relative;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 1.875rem;
}

.solutionWrapper .picWrapper img {
    opacity: 0.5;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.solutionWrapper a:hover .picWrapper img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.solutionWrapper .txtWrapper {
    position: absolute;
    width: 80%; 
    top: 20%;
    left: 10%;
    text-align: center;
    color: #fff;
}

.solutionWrapper .txtWrapper h5 {
    margin: 0;
    font-size: 1.25em;
}

.solutionWrapper .txtWrapper p {
    margin-top: 0.625rem;
    margin-bottom: 0;
}

.solutionWrapper span {
    display: inline-block;
    margin-top: 0.625rem;
    padding: 0.3125rem 1.5rem;
    border: 2px solid #fff;
}

.solutionWrapper a:hover span {
    background-color: #fff;
    color: #000;
}

@media (max-width: 1199px) {
    .solutionWrapper .txtWrapper {
        top: 10%;
    }
}

@media (max-width: 767px) {
    .solutionWrapper .txtWrapper {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
}
/* question end */

/* download start */
.card-download {
    background-color: #f8f8f8;
    border: none;
}

a.bg-download:hover, 
a.bg-download:focus,
button.bg-download:hover,
button.bg-download:focus {
    color: #2b5e50;
    background-color: #f8f8f8 !important;
    border-color: #112923 !important;
    border-width: 2px;
}
/* downlaod end */

/* news start */
.latestNewsWrapper {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(194,194,194,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(194,194,194,1);
    box-shadow: 4px 4px 5px 0px rgba(194,194,194,1);
    margin-bottom: 1.875rem;
}

.latestNewsWrapper .picWrapper {
    position: relative;
}

.latestNewsWrapper .picWrapper:before {
    content: '';
    display: block;
    width: 95%;
    height: 0;
    padding-top: 60%;
    position: absolute;
    left: 2%;
    top: 4%;
    border: #fff solid 2px;
    opacity: 0;
    transition: all 0.1s, transform 0.5s;
    -webkit-transition: all 0.1s, transform 0.5s;
    -ms-transition: all 0.1s, transform 0.5s;
    -moz-transition: all 0.1s, transform 0.5s;
    transform-origin: center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
}

.latestNewsWrapper a:hover {
    text-decoration: none;
}

.latestNewsWrapper a:hover .picWrapper:before {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
}

.latestNewsWrapper .txtWrapper {
    padding: 1rem 1.25rem;
    color: #212529;
}

.latestNewsWrapper .txtWrapper h5 {
    margin: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.latestNewsWrapper .txtWrapper p {
    margin-top: 0.625rem;
    margin-bottom: 0;
}

.latestNewsWrapper .txtWrapper .date {
    color: #c2c2c2;
}
/* news end */

/* contact us start */
.contactWrapper {
    padding: 2rem;
    background-color: #f8f8f8;
}

.contactWrapper .check {
    color: #6e757c;
}

.contactWrapper .btns {
    margin-top: 3.125rem;
}

.mapWrapper {
    margin-top: 3rem;
}

.mapWrapper .company {
    color: #2b5e50;
}

.mapWrapper .addressWrapper p {
    margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
    .mapWrapper .picWrapper {
        margin-bottom: 1.25rem;
    }
}
/* contact us end */

/* product start */
.productTextWrapper h3 {
    color: #2b5e50;
}

.productTextWrapper p {
    margin-bottom: 0.5rem;
}

.productBtnWrapper {
    margin-top: 3rem;
}

.productBtnWrapper .online-btn {
    color: #fff;
    background-color: #439ede;
}

.productBtnWrapper .trial-btn {
    color: #fff;
    background-color: #34302c;
}

.productTabWrapper {
    margin-top: 2rem;
}

.productTabWrapper .pillsWrapper {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #d0cfd0;
}

.productTabWrapper .pillsWrapper .nav-pills {
    margin-bottom: 2rem;
}

.productTabWrapper .nav-pills .nav-link {
    color: #2b5e50;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-right: 1px solid #112923;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.productTabWrapper .nav-pills .nav-item:first-child .nav-link {
    border-left: 1px solid #112923;
}

.productTabWrapper .nav-pills .nav-link.active, 
.productTabWrapper .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2b5e50;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

.productTabWrapper .textWrapper {
    margin-top: 4rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

@media (max-width: 1199px) {
    .productBtnWrapper .online-btn,
    .productBtnWrapper .trial-btn {
        display: block;
    }

    .productBtnWrapper .online-btn {
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    .productBtnWrapper .online-btn,
    .productBtnWrapper .trial-btn {
        display: inline-block;
    }

    .productBtnWrapper .online-btn {
        margin-bottom: 0;
    }
}

@media (max-width: 575px) {
    .productBtnWrapper .online-btn,
    .productBtnWrapper .trial-btn {
        display: block;
    }

    .productBtnWrapper .online-btn {
        margin-bottom: 1rem;
    }
}

@media (max-width: 325px) {
    .productTabWrapper .nav-pills .nav-link {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}
/* product end */

/* home-quickTaskMd start */
.quickTaskMd {
    margin-bottom: 2.5rem;
    background-color: #ebebeb;
}

.quickTaskMd .container {
    position: relative;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.quickTaskMd a {
    display: block;
    text-align: center;
}

.quickTaskMd a:hover {
    text-decoration: none;
}

.quickTaskMd a > img {
    width: 36%;
    margin: 0 auto;
    border: 1px solid #bebebe;
    background-position: center;
    background-size: auto 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.quickTaskMd a:hover > img {
    background-color: #d9d9d6;
    border: 1px solid #d9d9d6;
}

.quickTaskMd a > p.title {
    color: #75787b;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.quickTaskMd a:hover > p.title {
    color: #212529;
}

@media (max-width: 991px) {
    .quickTaskMd .container {
        max-width: 100%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

@media (max-width: 767px) {
    .quickTaskMd .container {
        padding: 0.3125rem
    }

    .quickTaskMd .container:before {
        content: '';
        display: block;
        width: 90%;
        height: 0;
        position: absolute;
        left: 5%;
        top: 50%;
        border-top: 1px dotted #cccccc;
    }

    .quickTaskMd .container .row {
        margin-left: 0;
        margin-right: 0;
    }

    .quickTaskMd .container .row > div {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .quickTaskMd .container .row > div {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 575px) {
    .quickTaskMd .container:before {
        top: 33.3%;
    }

    .quickTaskMd .container:after {
        content: '';
        display: block;
        width: 90%;
        height: 0;
        position: absolute;
        left: 5%;
        bottom: 33.6%;
        border-top: 1px dotted #cccccc;
    }

    .quickTaskMd .container .row > div {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
}
/* home-quickTaskMd end */

/* home-newsMd start */
.newsMd {
    margin-bottom: 2.5rem;
}

.newsMd .title {
    margin-bottom: 1.5rem;
}

@media (min-width: 576px) and (max-width: 767px) {
    .newsMd .container {
        max-width: 100%;
    }

    .newsMd .latestNewsWrapper .txtWrapper p.depiction {
        height: 6rem;
        overflow: hidden;
    }
}
/* home-newsMd end */

/* home-studyMd start */
.studyMd .title {
    margin-bottom: 1.5rem;
}

.studyMd .solutionWrapper .txtWrapper {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

@media (min-width: 576px) and (max-width: 767px) {
    .studyMd .container {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    .studyMd .row > div:last-child .solutionWrapper {
        margin-bottom: 0;
    }
}
/* home-studyMd end */

/* home-productMd start */
.productMd {
    margin-bottom: 2.5rem;
    text-align: center;
}

.productMd .title {
    margin-bottom: 1.5rem;
    position: relative;
}

.productMd .title .text {
    position: relative;
    z-index: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
}

.productMd .title:before {
    content: '';
    display: block;
    width: 26%;
    height: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 36.6%;
    border-top: 2px solid #212529;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.productMd .title:after {
    content: '';
    display: block;
    width: 36%;
    height: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 10.6%;
    border-top: 2px solid #212529;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.productMd .card {
    border: none;
    border-radius: 0;
}

.productMd .card .card-body {
    padding: 1.5rem;
}

.productMd .card p.card-text {
    margin-bottom: 1.25rem;
}

.productMd .card a.btn {
    color: #fff;
    padding: 0.275rem 1.25rem;
    background-color: #34302c;
    border-radius: 0;
}

.productMd .carousel-control-next, 
.productMd .carousel-control-prev {
    width: 10%;
}

.productMd .carousel-control-next-icon, 
.productMd .carousel-control-prev-icon {
    padding: 12%;
    background-color: #212529;
    border-radius: 50%;
}

.productMd .pMore-btn {
    color: #fff;
    margin-top: 1.25rem;
    padding: 0.275rem 1.25rem;
    background-color: #a7a7a7;
}

.productMd .pMore-btn:hover {
    text-decoration: none;
    background-color: #6f9fa0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .productMd .title:before {
        width: 36%;
    }

    .productMd .title:after {
        width: 46%;
    }
}

@media (min-width: 768px) {
    /* show 3 items */
    .productMd .carousel-inner .active,
    .productMd .carousel-inner .active + .carousel-item,
    .productMd .carousel-inner .active + .carousel-item + .carousel-item,
    .productMd .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .productMd .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .productMd .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .productMd .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .productMd .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .productMd .carousel-inner .carousel-item-next,
    .productMd .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .productMd .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .productMd .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .productMd .carousel-item-next.carousel-item-left + .carousel-item,
    .productMd .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .productMd .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .productMd .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .productMd .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .productMd .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .productMd .carousel-item-prev.carousel-item-right + .carousel-item,
    .productMd .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .productMd .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .productMd .title:before {
        width: 46%;
    }

    .productMd .title:after {
        width: 56%;
    }
}

@media (max-width: 575px) {
    .productMd .title:before {
        width: 56%;
    }

    .productMd .title:after {
        width: 66%;
    }
}

@media (max-width: 320px) {
    .productMd .title:before {
        width: 60%;
    }

    .productMd .title:after {
        width: 70%;
    }
}
/* home-productMd end */

/* contactUsMd start */
.contactUsMd {
    position: absolute;
    top: 160px;
    right: 0;
    overflow: hidden;
}

.contactUsMd .contactUs-box {
    margin-right: -260px;
    position: relative;
    z-index: 2000;
    transition-duration: 0.8s;
}

.contactUsMd .contactUs-box.show {
    margin-right: 0;
}

.contactUsMd .contactUs-box  .contactus-icon {
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 40px;
    color: #fff;
    cursor: pointer;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.contactUsMd .contactUs-box .sendMessage-form {
    width: 260px;
    margin-left: 40px;
    padding: 1.5rem 1rem 2rem;
    background-color: #f3f3f4;
    position: relative;
}

.contactUsMd .contactUs-box .sendMessage-form p.dep {
    font-size: 0.5rem;
}

.contactUsMd .contactUs-box .sendMessage-form .skype-icon {
    color: #00aff0;
    position: absolute;
    right: 20%;
    top: 4%;
}

@media (max-width: 991px) {
    .contactUsMd {
        top: 60px;
    }
}
/* contactUsMd end */

/* unique service start */
.uniqueServiceStepWrapper {
    padding: 2rem;
    margin-top: 1.25rem;
    background-color: #f8f8f8;
}

.uniqueServiceStepWrapper .applicable-area {
    display: none;
}

.uniqueServiceStepWrapper .applicable-area.show {
    display: block;
}

.uniqueServiceStepWrapper .applicable-area .item-title {
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    border: 1px solid #f2f2f2;
}

@media (min-width: 768px) {
    .uniqueServiceStepWrapper .us-step2 > .form-row:first-of-type .col-md-4 {
        margin-top: 0 !important;
    }
}
/* unique service end */