@charset "UTF-8";

/* content start */
.content {
    width: 100%;
    /* min-height: 100vh; */
    transition: all 0.3s;
}

.content h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content h3.ct {
    /* company title */
    color: #2b5e50;
}

.content .btn-group {
    margin-top: 2.75rem;
}
/* content end */

/* table start */
.table-responsive {
    margin-bottom: 1.25rem;
}

.table-top-border-none th {
    border-top: none;
}

.table thead th {
    border-bottom-width: 3px;
}
/* table end */

/* title start */
.subtitle {
    font-size: .5rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3.3125rem;
    border-bottom: 1px solid #d0cfd0;
}
/* title end */

/* question start */
.date {
    margin-bottom: 2.75rem;
}

.pagelink,
.pagelink:hover {
    color: #2b5e50;
}
/* question end */

/* download start */
.card-download {
    background-color: #f8f8f8;
    border: none;
}

.bg-download {
    color: #fff;
    background-color: #112923 !important;
}

a.bg-download:hover, 
a.bg-download:focus,
button.bg-download:hover,
button.bg-download:focus {
    color: #2b5e50;
    background-color: #f8f8f8 !important;
    border-color: #112923 !important;
    border-width: 2px;
}
/* downlaod end */