@charset "UTF-8";

.icon {
    padding-right: 1rem;
}

.bg-download {
    color: #fff;
    background-color: #112923 !important;
}

.bg-reset {
    background-color: #cfe0d6;
}

.bg-submit {
    color: #fff;
    background-color: #2b5e50;
}

/* content start */
.content {
    width: 100%;
    transition: all 0.3s;
}

.content h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content h3.ct {
    /* company title */
    color: #2b5e50;
}

.content .btn-group {
    margin-top: 2.75rem;
}
/* content end */

/* table start */
.table-responsive {
    margin-bottom: 1.25rem;
}

.table-top-border-none th {
    border-top: none;
}

.table thead th {
    border-bottom-width: 3px;
}
/* table end */

/* title start */
.subtitle {
    font-size: .5rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3.3125rem;
    border-bottom: 1px solid #d0cfd0;
}
/* title end */

/* question start */
.date {
    margin-bottom: 2.75rem;
}

.pagelink,
.pagelink:hover {
    color: #2b5e50;
}

.solutionWrapper {
    position: relative;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 1.875rem;
}

.solutionWrapper .picWrapper img {
    opacity: 0.5;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.solutionWrapper a:hover .picWrapper img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.solutionWrapper .txtWrapper {
    position: absolute;
    width: 80%; 
    top: 20%;
    left: 10%;
    text-align: center;
    color: #fff;
}

.solutionWrapper .txtWrapper h5 {
    margin: 0;
    font-size: 1.25em;
}

.solutionWrapper .txtWrapper p {
    margin-top: 0.625rem;
    margin-bottom: 0;
}

.solutionWrapper span {
    display: inline-block;
    margin-top: 0.625rem;
    padding: 0.3125rem 1.5rem;
    border: 2px solid #fff;
}

.solutionWrapper a:hover span {
    background-color: #fff;
    color: #000;
}

@media (max-width: 1199px) {
    .solutionWrapper .txtWrapper {
        top: 10%;
    }
}

@media (max-width: 767px) {
    .solutionWrapper .txtWrapper {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
}
/* question end */

/* download start */
.card-download {
    background-color: #f8f8f8;
    border: none;
}

a.bg-download:hover, 
a.bg-download:focus,
button.bg-download:hover,
button.bg-download:focus {
    color: #2b5e50;
    background-color: #f8f8f8 !important;
    border-color: #112923 !important;
    border-width: 2px;
}
/* downlaod end */

/* news start */
.latestNewsWrapper {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(194,194,194,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(194,194,194,1);
    box-shadow: 4px 4px 5px 0px rgba(194,194,194,1);
    margin-bottom: 1.875rem;
}

.latestNewsWrapper .picWrapper {
    position: relative;
}

.latestNewsWrapper .picWrapper:before {
    content: '';
    display: block;
    width: 95%;
    height: 0;
    padding-top: 60%;
    position: absolute;
    left: 2%;
    top: 4%;
    border: #fff solid 2px;
    opacity: 0;
    transition: all 0.1s, transform 0.5s;
    -webkit-transition: all 0.1s, transform 0.5s;
    -ms-transition: all 0.1s, transform 0.5s;
    -moz-transition: all 0.1s, transform 0.5s;
    transform-origin: center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
}

.latestNewsWrapper a:hover {
    text-decoration: none;
}

.latestNewsWrapper a:hover .picWrapper:before {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
}

.latestNewsWrapper .txtWrapper {
    padding: 1rem 1.25rem;
    color: #212529;
}

.latestNewsWrapper .txtWrapper h5 {
    margin: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.latestNewsWrapper .txtWrapper p {
    margin-top: 0.625rem;
    margin-bottom: 0;
}

.latestNewsWrapper .txtWrapper .date {
    color: #c2c2c2;
}
/* news end */

/* contact us start */
.contactWrapper {
    padding: 2rem;
    background-color: #f8f8f8;
}

.contactWrapper .check {
    color: #6e757c;
}

.contactWrapper .btns {
    margin-top: 3.125rem;
}

.mapWrapper {
    margin-top: 3rem;
}

.mapWrapper .company {
    color: #2b5e50;
}

.mapWrapper .addressWrapper p {
    margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
    .mapWrapper .picWrapper {
        margin-bottom: 1.25rem;
    }
}
/* contact us end */