@charset "UTF-8";

footer {
    color: #fff;
    margin-top: 12.5rem;
    padding-top: 5.9375rem;
    padding-bottom: 3.4375rem;
    background: url(../image/bg-footer.png) no-repeat left bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer .nav .nav-link {
    color: #fff;
    border-bottom: 1px solid #779ea1;
}

footer .nav .nav-link:focus {
    color: #b0bb5c;
}

a[href^="tel:"],
a[href^="mailto:"] {
    color: #fff;
    text-decoration: none;
}

.copyright {
    margin-top: 5.25rem;
    padding-top: 1.3125rem;
    border-top: 1px solid #779ea1;
    letter-spacing: 2px;
}

@media (max-width: 767px) {
    footer .row > div {
        margin-bottom: 1.5rem;
        padding-bottom: 0.625rem;
    }

    footer .row > div:first-child {
        border-bottom: 1px dotted #f8f8f8;
    }
}